@charset "utf-8";
:root { /* Конфигурация */
  --color-primary: #2A5885;
  --color-secondary: #DCE1E6;
  --bgcolor-primary: #EDEEF0;
  --bgcolor-secondary: #FFF;
  --link-color: #3030FF;
}


/* Базовый стиль */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

html { height: 100%; }

body {
  min-height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  color: var(--color-primary);
  background: var(--bgcolor-primary);
}


/* Стиль для ссылок*/
:link, :visited {
  color: var(--link-color);
  text-decoration: none;
}


/* Стили для некоторых тегов */
h1 {
  margin-left: -6%;
  font-family: Garamond, "Times New Roman", serif;
}

h2, h3 {
  margin-left: -3%;
}

p {
  text-indent: 2em;
}


.clear { /* Убрать обтекание */
  clear: both;
}


/* Смещение текстов и блоков */
.center { text-align: center; }
.block-center { margin-left: auto; margin-right: auto; }
